---
---

<section>
    <img src="./Logo.jpg" alt="Logo de experiencias allona">
    <p class="texto">Un lugar donde desconectar y simplemente estar</p>
</section>

<style>
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;
    }
    section img{
        width: 4rem;
        margin-bottom: 0.5rem;
        margin-top: .2rem;
    }
    .texto{
        font-family: "Special Elite", system-ui;
        font-size: 1rem;
        text-align: center;
    }
</style>